SERVER_ADDR_PORT="127.0.0.1:3300"
SERVICE_ADDR_PORT="127.0.0.1:5500"
DATABASE_ADDR_PORT="127.0.0.1:3306"
DATABASE_URL=mysql://httpbin-user:aabb@mariadb/httpbin-db
ROOT_DATABASE_URL=mysql://root:uuvv@mariadb/mysql
MARIADB_USER=httpbin-user
MARIADB_PASSWORD=aabb
MARIADB_ROOT_PASSWORD=uuvv
MARIADB_DATABASE=httpbin-db
APP_LOG_LEVEL=debug
APP_LOG_STYLE=auto
BASIC_AUTH=aHR0cGJpbi11c2VyOmFhYmI=
TESTING_ADDR_PORT="127.0.0.1:3307"
TEST_SERVER_ADDR_PORT="127.0.0.1:3301"
TEST_SERVICE_ADDR_PORT="127.0.0.1:5501"
